{{define "referee_panel_foul_list"}}
{{range $foul := .Fouls}}
{{template "foul" dict "foul" $foul "rules" $.Rules}}
{{end}}
{{end}}
{{define "foul"}}
<div class="foul {{.foul.Alliance}}-foul" data-foul-id="{{.foul.Foul.FoulId}}" data-alliance="{{.foul.Alliance}}">
  <div class="foul-number">
    {{if eq .foul.Alliance "red"}}R{{else}}B{{end}}{{.foul.Number}}
    {{if .foul.Foul.Source}}<div class="foul-source">{{.foul.Foul.Source}}</div>{{end}}
  </div>
  <div class="type-button" onclick="toggleFoulType('{{.foul.Alliance}}', {{.foul.Foul.FoulId}});">
    {{if .foul.Foul.IsMajor}}Major{{else}}Minor{{end}} Foul
  </div>
  <div class="team-buttons">
    {{range $teamId := .foul.TeamIds}}
    <div class="team-button" {{if eq $.foul.Foul.TeamId $teamId}} data-selected="true" {{end}}
      onclick="updateFoulTeam('{{$.foul.Alliance}}', {{$.foul.Foul.FoulId}}, {{$teamId}})">
      {{$teamId}}
    </div>
    {{end}}
  </div>
  <select class="rule-select"
    onchange="updateFoulRule('{{.foul.Alliance}}', {{.foul.Foul.FoulId}}, parseInt(this.value));">
    <option value="0" {{if eq .foul.Foul.RuleId 0}} selected{{end}}>No Rule Selected</option>
    {{range $rule := .rules}}
    {{if eq $.foul.Foul.IsMajor $rule.IsMajor}}
    <option value="{{$rule.Id}}" {{if eq $.foul.Foul.RuleId $rule.Id}} selected{{end}}>{{$rule.RuleNumber}}
      [{{if $rule.IsRankingPoint}}{{if $rule.IsMajor}}Major{{else}}Minor{{end}} Foul + RP
      {{else}}{{if $rule.IsMajor}}Major{{else}}Minor{{end}} Foul{{end}}]: {{$rule.Description}}
    </option>
    {{end}}
    {{end}}
  </select>
  <div class="delete-button" onclick="deleteFoul('{{.foul.Alliance}}', {{.foul.Foul.FoulId}});">Delete</div>
</div>
{{end}}
